body{
  font-size: 120%;
}
main {
  position: absolute;
  left: 474px;
  top: 17px;
  width: 257px;
  /*try to replase absulute values defined in pixels with relative ones in %% */
}
textarea {
  font-size: 120%;
}
